{{ header }}{{ column_left }}
<div id="content">
<script type="text/javascript"><!--
$(document).ready(function(){
	// Image Manager
	$(document).delegate('a[data-toggle=\'imageedit\']', 'click', function(e) {
		e.preventDefault();

        $('.popover').hide();
        $('.popover').remove();
            $(element).popover('hide', function() {
				$('.popover').remove();
			});


		var element = this;
        var idelement = $(element).attr('data-id');

		$(element).popover({
			html: true,
			placement: 'right',
			trigger: 'manual',
			content: function() {
				return '<button type="button" id="button-image-edit" data-id='+idelement+' class="btn btn-primary"><i class="fa fa-pencil"></i></button> <button type="button" id="button-clear-edit-image" data-id='+idelement+' class="btn btn-danger"><i class="fa fa-trash-o"></i></button>&nbsp;<button type="button" id="button-close-edit-image" class="btn btn-default btn-sm editable-cancel" style="margin-top:-50px;margin-right:-25px;"><i class="fa fa-close"></i></button>';
			}
		});

		$(element).popover('toggle');

		$('#button-image-edit').on('click', function() {
			$('#modal-image').remove();

			$.ajax({
				url: 'index.php?route=common/filemanager&user_token={{user_token}}&target=null&thumb=imageedit-' + idelement,
				dataType: 'html',
				beforeSend: function() {
					$('#button-image-edit i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
					$('#button-image-edit').prop('disabled', true);
				},
				complete: function() {
					$('#button-image-edit i').replaceWith('<i class="fa fa-pencil"></i>');
					$('#button-image-edit').prop('disabled', false);
				},
				success: function(html) {
				  var str = html.toString();
                  if(str.indexOf('<title>') + 1) { window.location.replace('index.php?route=catalog/product'); }
                   else {
					$('body').append('<div id="modal-image" class="modal">' + html + '</div>');
					$('#modal-image').modal('show');
                    }
				}
			});

			$(element).popover('hide', function() {
				$('.popover').remove();
			});
		});

		$('#button-clear-edit-image').on('click', function() {
		   if (confirm("{{button_delete}} {{entry_image}} ?")) {
             $.post("index.php?route=catalog/product/quickeditopencartsu&user_token={{user_token}}", {name: "image", pk: idelement, value: "no_image.png"}, function(data, textStatus, jqXHR){
             if(jqXHR.status!=200) {alert('error delete img:'+jqXHR.status+'|'+textStatus);}
             else { $('#img'+idelement).attr('src', '../image/cache/no_image-40x40.png'); }
             }).fail(function() { window.location.replace('index.php?route=catalog/product'); });

			 $(element).popover('hide', function() {
				$('.popover').remove();
			 });
           }
		});

	$('#button-close-edit-image').on('click', function() {
	 $(element).popover('hide', function() {
	   $('.popover').remove();
	 });
    });


  $('body').on('click', function (e) {
    $(element).popover('hide', function() {
	  $('.popover').remove();
	});
  });

 });

});
//--></script>
<style>
.label h3 {
  color: #555;
}
.label a {
 color: #fff;
 border-bottom: dashed 1px #fff;
}
</style>

  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="submit" onclick="disableSubmitButton(this);"  form="form-product" formaction="{{ copy }}" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default"><i class="fa fa-copy"></i></button>
        <button type="button" form="form-product" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-product').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1><i class="icon icon-cube"></i> {{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
        <div id="filter-product" class="col-sm-12 hidden-sm hidden-xs">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group col-md-2">
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              </div>
              <div class="form-group col-md-2">
                <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
              </div>
              <div class="form-group col-md-2 hidden">
                <input type="text" name="filter_price" value="{{ filter_price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
              </div>
              <div class="form-group col-md-2 hidden">
                <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
              </div>
              <div class="form-group col-md-3">
                <input type="text" name="filter_category" value="{{ filter_category_name }}" placeholder="{{ entry_category }}" id="input-category" class="form-control" />
                <input type="hidden" value="{{ filter_category }}" id="filter-category-id">
              </div>
              <div class="form-group col-md-2">
                <input type="text" name="filter_manufacturer" value="{{ filter_manufacturer_name }}" placeholder="{{ entry_manufacturer }}" id="input-manufacturer" class="form-control" />
                <input type="hidden" value="{{ filter_manufacturer }}" id="filter-manufacturer-id">
              </div>
              <div class="form-group col-md-2">
                <select name="filter_status" id="input-status" class="form-control">
                  <option value="" readonly="1">Durum</option>
                  {% if filter_status == '1' %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                    {% if filter_status == '0' %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
              <div class="form-group col-md-1">
                <button type="button" style="min-width: 0px" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td class="text-center">{{ column_image }}</td>
                      <td class="text-left">{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                      <td class="text-left">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a> {% else %} <a href="{{ sort_model }}">{{ column_model }}</a> {% endif %}</td>
                      <td class="text-right">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a> {% else %} <a href="{{ sort_price }}">{{ column_price }}</a> {% endif %}</td>
                      <td class="text-right">{% if sort == 'p.quantity' %} <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a> {% else %} <a href="{{ sort_quantity }}">{{ column_quantity }}</a> {% endif %}</td>
                      <td class="text-left">{% if sort == 'p.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                      <td class="text-right">{{ column_action }}</td>
                    </tr>
                  </thead>
                  <tbody>

                  {% if products %}
                  {% for product in products %}
                  <tr>
                    <td class="text-center">{% if product.product_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" />
                      {% endif %}</td>
                    <td class="text-center">{% if product.image %} 
            <a href="javascript:" id="imageedit-{{ product.product_id }}" data-id="{{ product.product_id }}" data-toggle="imageedit" class="img-thumbnail"><img id="img{{ product.product_id }}" src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" /></a>
             {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
                    
            <td class="text-left">
<a href="javascript:" class="ocedit" data-name="name:alllang" data-pk="{{ product.product_id }}" data-url="index.php?route=catalog/product/quickeditopencartsu&user_token={{user_token}}" data-type="text" data-placement="right"
data-title="{{ column_name }} && {{ entry_meta_title }} (
{% if active_language matches '/^ru.*/' %}
будет обновлено на всех языках:
{% else %}
will update on all languages:
{% endif %}
{% for language in languages %} {{language.code}} {% if loop.last==false %},{% endif %}  {% endfor %})">{{product.name}}</a><br>
</td>
            
                    <td class="text-left"><a href="javascript:" class="ocedit" data-name="model" data-pk="{{ product.product_id }}" data-url="index.php?route=catalog/product/quickeditopencartsu&user_token={{user_token}}" data-type="text" data-placement="right" data-title="{{ column_model }}">{{ product.model }}</a></td>
                    <td class="text-right">{% if product.special %} <span style="text-decoration: line-through;"><a href="javascript:" class="ocedit" data-name="price" data-pk="{{ product.product_id }}" data-url="index.php?route=catalog/product/quickeditopencartsu&user_token={{user_token}}" data-type="text" data-placement="right" data-title="{{ column_price }}">{{ product.price }}</a></span><br/>
                      <div class="text-danger"><a href="javascript:" class="ocedit" data-name="special" data-pk="{{ product.product_id }}" data-url="index.php?route=catalog/product/quickeditopencartsu&user_token={{user_token}}" data-type="text" data-placement="right" data-title="{{ tab_special }}">{{ product.special }}</a></div>
                      {% else %}
                      <a href="javascript:" class="ocedit" data-name="price" data-pk="{{ product.product_id }}" data-url="index.php?route=catalog/product/quickeditopencartsu&user_token={{user_token}}" data-type="text" data-placement="right" data-title="{{ column_price }}">{{ product.price }}</a>
                      {% endif %}</td>
                    <td class="text-right">{% if product.quantity <= 0 %} <span class="label label-warning"><a href="javascript:" class="ocedit" data-name="quantity" data-pk="{{ product.product_id }}" data-url="index.php?route=catalog/product/quickeditopencartsu&user_token={{user_token}}" data-type="text" data-placement="right" data-title="{{ column_quantity }}">{{ product.quantity }}</a></span> {% elseif product.quantity <= 5 %} <span class="label label-danger"><a href="javascript:" class="ocedit" data-name="quantity" data-pk="{{ product.product_id }}" data-url="index.php?route=catalog/product/quickeditopencartsu&user_token={{user_token}}" data-type="text" data-placement="right" data-title="{{ column_quantity }}">{{ product.quantity }}</a></span> {% else %} <span class="label label-success"><a href="javascript:" class="ocedit" data-name="quantity" data-pk="{{ product.product_id }}" data-url="index.php?route=catalog/product/quickeditopencartsu&user_token={{user_token}}" data-type="text" data-placement="right" data-title="{{ column_quantity }}">{{ product.quantity }}</a></span> {% endif %}</td>
                    <td class="text-left">
<input class="toggle-event-status" data-onstyle="success" data-on="{{text_enabled}}" data-off="{{text_disabled}}" {% if product.status==text_enabled %} checked=checked {% endif %} type="checkbox" data-toggle="toggle" data-name="status" data-pk="{{ product.product_id }}" data-url="index.php?route=catalog/product/quickeditopencartsu&user_token={{user_token}}">
    </td>
                    <td class="text-right"><a href="{{ product.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

  var filter_manufacturer = $('#filter-manufacturer-id').val();

  if (filter_manufacturer) {
    url += '&filter_manufacturer=' + encodeURIComponent(filter_manufacturer);
    url += '&filter_manufacturer_name=' + encodeURIComponent($('input[name=\'filter_manufacturer\']').val());
  }

  var filter_category = $('#filter-category-id').val();

  if (filter_category) {
    url += '&filter_category=' + encodeURIComponent(filter_category);
    url += '&filter_category_name=' + encodeURIComponent($('input[name=\'filter_category\']').val());
  }

	var filter_model = $('input[name=\'filter_model\']').val();

	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}

	var filter_price = $('input[name=\'filter_price\']').val();

	if (filter_price) {
		url += '&filter_price=' + encodeURIComponent(filter_price);
	}

	var filter_quantity = $('input[name=\'filter_quantity\']').val();

	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=catalog/product&user_token={{ user_token }}' + url;
});
//--></script>
  <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
	$('#form-product').attr('action', $(this).attr('formaction'));
});

$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_category\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['category_id']
          }
        }));
      }
    })
  },
  'select': function(item) {
    $('input[name=\'filter_category\']').val(item['label']);
    $('#filter-category-id').val(item['value']);
  }
});

$('input[name=\'filter_manufacturer\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/manufacturer/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['manufacturer_id']
          }
        }));
      }
    })
  },
  'select': function(item) {
    $('input[name=\'filter_manufacturer\']').val(item['label']);
    $('#filter-manufacturer-id').val(item['value']);
  }
});

$('input[name=\'filter_model\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_model\']').val(item['label']);
	}
});
//--></script></div>

         
            <script type="text/javascript"><!--
			 $(document).keypress(function(e) {
				if(e.which == 13) {
				   $("#button-filter").click();
				}
			});
			//--></script>
          
        
{{ footer }}