{{gkd_qosu_parts['dialog_div']}}{{gkd_qosu_parts['scripts']}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> {{ heading_title }}</h3>
  </div>
  <div class="table-responsive qosuTable">
    <table class="table">
      <thead>
        <tr>
          <td class="text-right">{{ column_order_id }}</td>
          <td>{{ column_customer }}</td>
          <td>{{ column_status }}</td>
          <td>{{ column_date_added }}</td>
          <td class="text-right">{{ column_total }}</td>
          <td class="text-right">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if orders %}
        {% for order in orders %}
        <tr {% if qosu_bg_mode == 'row' and qosu_os[order.order_status_id]['color'] != '#000000' %} style="background-color:{{qosu_os[order.order_status_id]['color']}} "{% endif %}>
			

          <td class="text-right">{{ order.order_id }}</td>
          <td>{{ order.customer }}</td>
          <td class="text-left qosu-cell {% if qosu_bg_mode == 'label' %}qosu-label-cell{% endif %}" order_id="{{order['order_id']}}" {% if qosu_bg_mode == 'cell' and qosu_os[order.order_status_id]['color'] != '#000000' %} style="background-color:{{qosu_os[order.order_status_id]['color']}}"{% endif %} title="{{text_qosu_add_history}}">
				{% if not qosu_bg_mode and qosu_os[order.order_status_id]['color'] != '#000000' %}
					<font color="{{qosu_os[order.order_status_id]['color']}}">{{order['status']}}</font>
				{% elseif qosu_bg_mode == 'label' %}
					<span class="label qosu-label" style="background:{{qosu_os[order.order_status_id]['color'] != '#000000' ? qosu_os[order.order_status_id]['color'] : '#444'}}">{{order['status']|upper}}</span>
				{% else %}
					{{order['status']}}
				{% endif %}
			</td>
			
          <td>{{ order.date_added }}</td>
          <td class="text-right">{{ order.total }}</td>
          <td class="text-right"><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td class="text-center" colspan="6">{{ text_no_results }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
