{{ header }}{{ column_left }}
<script src="https://rawgit.com/RubaXa/Sortable/master/Sortable.js"></script>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" onclick="disableSubmitButton(this);"  form="form-class" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-class" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}</div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10 store-area">
                  <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for store in stores %}
                    <div class="checkbox">
                      <label>{% if store.store_id in package_store %}
                        <input type="checkbox" name="package_store[]" value="{{ store.store_id }}" checked="checked" />
                        {{ store.name }}
                        {% else %}
                        <input type="checkbox" name="package_store[]" value="{{ store.store_id }}" />
                        {{ store.name }}
                        {% endif %}</label>
                    </div>
                    {% endfor %}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
                <div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
                  <div id="featured-product" class="well well-sm sortable" style="height: 150px; overflow: auto; cursor: all-scroll;">
                    {% for product in products %}
                    <div id="featured-product{{ product.product_id }}" class="package-product"><i class="fa fa-minus-circle"></i> 
                      <span style="width:50%;display:inline-block">{{ product.name }}</span>
                      <input type="hidden" class="product-id" name="product[{{ product.product_id }}][product_id]" value="{{ product.product_id }}" />
                      <input type="hidden" name="product[{{ product.product_id }}][sort_order]" value="{{ product.sort_order }}" />
                      <input type="number" name="product[{{ product.product_id }}][quantity]" style="width: 35px;text-align:center" class="quantity" value="{{ product.quantity }}" />
                      <select style="height: 27px" name="product[{{product.product_id}}][type]">
                          <option value="1" {{ product.type == 1 ? 'selected=selected' : '' }}>Standart (çıkarılabilir)</option>
                          <option value="2" {{ product.type == 2 ? 'selected=selected' : '' }}>Opsiyonel (uyarı)</option>
                          <option value="3" {{ product.type == 3 ? 'selected=selected' : '' }}>Zorunlu (çıkarılamaz)</option>
                      </select>
                      <input type="text" readonly="true" style="width: 60px" name="product[{{ product.product_id }}][price]" value="{{ product.price }}">
                      <input type="text" class="package_price hidden" name="product[{{ product.product_id }}][package_price]" value="{{ product.package_price }}">
                    </div>
                    {% endfor %}
                  </div>
                  <div class="pull-right totaler">Toplam: {{ package_total }}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-seo">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_keyword }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left">{% for language in languages %}
                      <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                        <input type="text" name="package_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if class_seo_url[store.store_id][language.language_id] %}{{ class_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                      </div>
                      {% if error_keyword[store.store_id][language.language_id] %}
                      <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                      {% endif %}
                      {% endfor %}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$(document).ready(function() {
    $('input[name=\'product_name\']').autocomplete({
        delay: 0,
        autoFocus: true,
        focus: function( event, ui ) { event.preventDefault(); },
        response: function( event, ui ) { event.preventDefault(); },
        source: function(request, response) {
            $.ajax({
                url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['name'],
                            value: item['product_id'],
                            price: item['price']
                        }
                    }));
                }
            });
        },
        select: function(item) {
            $('input[name=\'product_name\']').val('');

            if ($('#featured-product' + item['value']).length) {
                //$('#featured-product' + item['value']).remove();
                quantity = parseInt($('#featured-product' + item['value']).find(".quantity").val());
                $('#featured-product' + item['value']).find(".quantity").val(quantity + 1);
                return;
            }

            $('#featured-product').prepend('\
                <div class="package-product" id="featured-product' + item['value'] + '">\
                    <i class="fa fa-minus-circle"></i> <span style="width:50%;display:inline-block">' + item['label'] + '</span>\
                    <input class="product-id" type="hidden" name="product[' + item['value'] + '][product_id]" value="' + item['value'] + '" />\
                    <input type="hidden" name="product[' + item['value'] + '][sort_order]" value="" />\
                    <input type="number" name="product[' + item['value'] + '][quantity]" style="width: 35px;text-align:center" class="quantity" value="1" />\
                    <select style="height: 27px" name="product[' + item['value'] + '][type]" >\
                        <option value="1">Standart (çıkarılabilir)</option>\
                        <option value="2">Opsiyonel (uyarı)</option>\
                        <option value="3">Zorunlu (çıkarılamaz)</option>\
                    </select>\
                    <input type="text" readonly="true" style="width: 60px" name="product[' + item['value'] + '][price]" value="' + item['price'] + '"> \
                    <input type="text" class="package_price" name="product[' + item['value'] + '][package_price]" value="' + item['price'] + '"> \
                </div>');
          calculateTotal()
        }
    });

    $('input[name=\'product_name\']').keydown(event, function() {
        if (event.keyCode == 13) {
            event.preventDefault();
            thus = $(this)
          setTimeout(function() {
              list = thus.siblings("ul.dropdown-menu")
              thus.siblings("ul.dropdown-menu").find("a").first().trigger("click");
              $('input[name=\'product_name\']').val('');
              $('input[name=\'product_name\']').data().term = null;
              $('input[name=\'product_name\']').autocomplete("close");
              list.remove()
              //$('ul.dropdown-menu').remove()
          }, 1000);
            
        }
    })

    $('#featured-product').delegate('.fa-minus-circle', 'click', function() {
        $(this).parent().remove();
        calculateTotal();
    });

    new Sortable(document.getElementsByClassName('sortable')[0]);

    var target = document.querySelector('#featured-product')
    var observer = new MutationObserver(function(mutations) {
        $.each($('#featured-product').find('.product-id'), function(index, item) {
            $(item).next('input').val(index);
        })
    });
    var config = { attributes: true, childList: true, characterData: true };
    observer.observe(target, config);


    $(document).on('change', '.package_price, .quantity, #featured-product', function() {
      calculateTotal()
    });

});
function calculateTotal() {
  total = 0;
  $.each($(document).find('.package_price'), function(index, item) {
    total += parseFloat($(item).val()) * $(item).parent().find('input.quantity').val()
  })
  $('.totaler').html("Toplam: " + total + "₺")
}

//--></script>
</div>
{{ footer }}